<div class="row">
  <div  class="col-md-4 offset-md-4">
      <h3  class="text-cente p-3">Dodanie przepisu </h3>
      <form >
         
              <div class="form-group">
              <label for="name">Nazwa Przepisu</label>
                      <input 
                        
                              id="name" 
                              type="text" 
                              class="form-control">
                      <div class="alert alert-danger" >      
                                    
                      </div>
              </div> 
              <div class="form-group">
                      <label>Składniki</label>
                      <textarea id="description" 
                      type="text" 
                      class="form-control" rows="3"></textarea>
                    </div>
           
              <div class="form-group">
                      <label for="category">Ocena trudności</label>
                      <select class="form-control" id="category" 
                     >
                    </select>  
              </div>
              <div class="form-group">
                <label>Cena</label>
                      <input id="price" name="price"
                     
                      class="form-control"
                      type="textarea" />
              </div>
              <button type="submit" class="btn btn-primary" >Zapisz</button>
              <button type="button" class="btn btn-danger ml-1" >Usuń </button>
          
      </form>
    </div>   
          
</div>