<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3 *ngIf="!setCategory()" class="text-cente p-3">Dodanie produktu</h3>
    <h3 *ngIf="setCategory()" class="text-cente p-3">Edycja produktu</h3>

    <form [formGroup]="form" (ngSubmit)="saveProduct()">
      <div class="form-group">
        <label for="name">Nazwa</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control"
        />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="(name?.errors)['required']">Nazwa jest wymagana</div>
        </div>
      </div>
      <div class="form-group">
        <label>Opis</label>
        <textarea
          formControlName="description"
          id="description"
          type="text"
          class="form-control"
          rows="3"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="description.touched && description.invalid"
        >
          <div *ngIf="(description?.errors)['required']">
            Opis jest wymagany
          </div>
        </div>
      </div>

      <div *ngIf="!setCategory()" class="form-group">
        <label for="category">Kategorie</label>
        <select formControlName="categoryId" class="form-control" id="category">
          <option value="" disabled>Wybierz kategorie</option>
          <option *ngFor="let c of categories" value="{{c.id }}">{{
            c.name
          }}</option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          <div *ngIf="(category?.errors)['required']">
            Kategoria jest wymagana
          </div>
        </div>
      </div>
      <div *ngIf="setCategory()" class="form-group">
        <label for="category">Kategorie - update</label>
        <select formControlName="categoryId" class="form-control">
          <!-- <option disabled value="">Wybierz kategorie</option> -->
          <option
            *ngFor="let categoryId of categories"
            [ngValue]="categoryId.id"
          >
            {{ categoryId.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          <div *ngIf="(category?.errors)['required']">
            Kategoria jest wymagana
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Cena</label>
        <input
          formControlName="price"
          id="price"
          name="price"
          class="form-control"
          type="textarea"
        />
      </div>
      <a class="btn btn-outline-primary mr-sm-2" [routerLink]="['/lista']"
        >Powrót</a
      >
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
        Zapisz
      </button>
    </form>
  </div>
</div>
