<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opis</th>
      <th scope="col">Kategoria</th>
      <th scope="col">Cena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td></td>
      <td>{{p.name}}</td>
      <td>{{ p.description}}</td>
      <td>{{ p.category.name }}</td>
      <td>{{ p.price }}</td>
      <td>
        <a class="btn btn-info mr-sm-1" [routerLink]="['',p.id]">Edytuj</a>
        <a href="#" class="btn btn-danger">Usuń</a>
      </td>
    
    </tr>
  </tbody>
</table>
